body {font-family: Arial, Helvetica, sans-serif;}

.modal-header {
  padding: 2px 16px;
  background-color: #a4f5ba;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Modal Body */
.modal-body {
	padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #a4f5ba;
  color: white;
}

/* The Close Button */
.closeLoginReg {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeHiScores {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeLoginReg:hover,
.closeLoginReg:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeHiScores:hover,
.closeHiScores:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


/////////////////////////////////////////COLUMNS
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Login/Registration/Logout */
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
	padding-right: 5px;	
	margin-left: -30px;
}
input {
  display: inline-block;
  float: left; 
}

.button-align {
	display: block;
	width: 200px;
	margin: 0 auto 0 25%;
}

#lR {
	float: right;
}

#lg {
	float: right;
}

/* Canvas */
#slate {
	border: 1px solid black;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
	width: 800px;
	height: 800px;
} 