<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/static/css/styles.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
    <style>  #slate {border: 1px solid black} </style>
	<title>Hello, world!</title>
</head>

<body>
	<!-- Trigger/Open The Modal -->
    Error: {{error_msg}}<br>
    Success: {{success_msg}}<br>
    Username: {{un}}<br>
    <!--Canvas-->
    <canvas width="600" height="600" id="slate">Hi!</canvas>

{% if loggedIn == "false" %}
    <button id="myBtn">Login / Register</button>
	<!-- The Modal -->
	<div id="myModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content modal-custom">

		<div class="modal-header">
			<h2 style="color: black;">Create and login with an account to save your scores!</h2>
			<span class="close">&times;</span>
		</div>

		<div class="modal-body">
			<div class="row">
				<div class="column" style="background-color:#aaa; padding:15px;">
					<form action="/login-submit" method="POST">
					<br><h3>LOGIN:</h3><br>
					<label for="username">Username: </label>
					<input type="text" name="username" id="username" style="width:250px" required />
					<br><br>
					<label for="password">Password: </label>
					<input type="password" name="password" id="password" style="width:250px;" required />
					<br><br>
					<button class="button-align" type="submit" style="width:250px; text-align: center;">Login</button>
					</form>
				</div>

				<div class="column" style="background-color:#bbb; padding:15px;">
					<form action="/register-submit" method="POST">
						<br><h3>REGISTER:</h3><br>
						<label for="username">Username: </label>
						<input type="text" name="username" id="username" style="width:250px" required />
						<br><br>
						<label for="password">Password: </label>
						<input type="password" name="password" id="password" style="width:250px" minlength="5" required />
						<br><br>
						<label for="password">Confirm password:</label>
						<input type="password" name="passwordConf" id="passwordConf" style="width:250px" minlength="5" required />
						<br><br>
						<button class="button-align" type="submit" style="width:250px; text-align: centeer;">Register</button>
					</form>
				</div>

        </div>
    </div>

    <div class="modal-footer">
        <h3>
            <!--{% if error_msg is none %}
                Error:-->
            <!--{% endif %}-->
        </h3>
    </div>

  </div><!--Modal content-->

  </div><!--My modal-->
{% endif %}

{% if loggedIn == "true" %}
<form action="/logout" method="POST">
    <button type = "submit">Logout</button>
</form>
{% endif %}

<script> //JAVASCRIPT DIRECTLY IN FILE B/C TOO STUPID TO LINK SCRIPT
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

  </body>
</html>