<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/static/css/styles.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
	<title>Hello, world!</title>
</head>

<body>
	<!-- Trigger/Open The Modal -->
    {% if error_msg != "" %}
        <b style="color:red;">Error: {{error_msg}}</b><br>
    {% endif %}
    {% if success_msg != "" %}
        <b>{{success_msg}}</b><br>
    {% endif %} 
    {%if un != "!DNE" %} <!--Username shows if logged in-->
        <b>Welcome,</b> {{un}}<br>
    {% endif %}

	{% if loggedIn == "true" %}


	<form action="/logout" method="POST">
		<button id="lg" type="submit">Logout</button>
	</form>
	{% endif %}


	<button id="init">Initialize</button>
    <button id="startStop">Start</button>
{% if loggedIn == "false" %}<!--show if logged out, hide if logged in-->
    <button id="lR">Login / Register</button>
	<!-- The Modal -->
	<div id="loginReg" class="modal">

	<!-- Modal content -->
	<div class="modal-content modal-custom">

		<div class="modal-header">
			<h2 style="color: black;">Create and login with an account to save your scores!</h2>
			<span class="closeLoginReg">&times;</span>
		</div>

		<div class="modal-body">
			<div class="row">
				<div class="column" style="background-color:#aaa; padding:15px;">
					<form action="/login-submit" method="POST">
					<br><h3>LOGIN:</h3><br>
					<label for="username">Username: </label>
					<input type="text" name="username" id="username" style="width:200px" required />
					<br><br>
					<label for="password">Password: </label>
					<input type="password" name="password" id="password" style="width:200px;" required />
					<br><br>
					<button class="button-align" type="submit" style="width:250px; text-align: center;">Login</button>
					</form>
				</div>

				<div class="column" style="background-color:#bbb; padding:15px;">
					<form action="/register-submit" method="POST">
						<br><h3>REGISTER:</h3><br>
						<label for="username">Username: </label>
						<input type="text" name="username" id="username" style="width:200px" required />
						<br><br>
						<label for="password">Password: </label>
						<input type="password" name="password" id="password" style="width:200px" minlength="5" required />
						<br><br>
						<label for="password">Confirm password:</label>
						<input type="password" name="passwordConf" id="passwordConf" style="width:200px" minlength="5" required />
						<br><br>
						<button class="button-align" type="submit" style="width:250px; text-align: centeer;">Register</button>
					</form>
				</div>

        </div>
    </div>

    <div class="modal-footer">
        <h3>
            <!--{% if error_msg is none %}
                Error:-->
            <!--{% endif %}-->
        </h3>
    </div>

  </div><!--End of modal content-->

  </div><!--End of loginReg modal-->
{% endif %}

    <button id="scores">High Scores</button>

    <!--Canvas-->
    <canvas id="slate">Hi!</canvas>


<div id="hiScores" class="modal">
    <div class="modal-content modal-custom">
        <div class="modal-header">
            <span class="closeHiScores">&times;</span>
            <h2>Top 10 scores of all time!</h2>
        </div>

        <div class="modal-body">
            <table style="width:75%;">
                <tr>
                    <th>Place</th>
                    <th></th><!--Empty column to make up for the for loop causing the information to move one column over-->
                    <th>Score</th>
                    <th>Username</th>
                </tr>
                {% for highScore in highScores %} <!--Gets tuple (<score>, <username>)-->
                <tr>
                    <th>#{{loop.index}}<th><!--Starts at one-->
                    <th>{{highScore[0]}}</th>
                    <th>{{highScore[1]}}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        <div class="modal-footer">
            
        </div>
    </div>
</div>


<script> //JAVASCRIPT DIRECTLY IN FILE B/C TOO STUPID TO LINK SCRIPT
// Get the modal
var modalLoginReg = document.getElementById("loginReg");
var modalHiScores = document.getElementById("hiScores");

// Get the button that opens the modal
var buttonLoginReg = document.getElementById("lR");
var buttonHiScores = document.getElementById("scores");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("closeLoginReg")[0];
var span2 = document.getElementsByClassName("closeHiScores")[0];

// When the user clicks the button, open the modal
buttonLoginReg.onclick = function() {
  modalLoginReg.style.display = "block";
}
buttonHiScores.onclick = function() {
    modalHiScores.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modalLoginReg.style.display = "none";
}
span2.onclick = function() {
    modalHiScores.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modalLoginReg) {
    modalLoginReg.style.display = "none";
  }
}

window.onclick = function(event) {
  if (event.target == modalHiScores) {
    modalHiScores.style.display = "none";
  }
}
</script>
<script src="/static/js/game.js"></script>
<script src="/static/js/home.js"></script>

  </body>
</html>